<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>                        
        {% include 'inc/stylesheets.html.twig' %}
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>        
                
        {% include 'inc/javascripts.html.twig' %}
    </body>
</html>
